/***************************header************************/
.menu.padBoth {
    border-bottom: 0.1em solid #939393;
}

#returnMenu {
    display: none;
    color: $brand-color;
}

#menuMovil {
    display: none;
    color: $brand-color;
    position: absolute;
    top: 1.3em;
}

.navbar-default {
    background: $accent-color;
    border: none;
    margin: 0;

    .navbar-collapse {
        .navbar-nav {
            width: 100%;
            background: $brand-color;
        }

        .item-nav {
            background: $brand-color;
            color: $accent-color;
        }
    }

    .navbar-header {
        background: $accent-color;
        border-bottom: $brand-color 0.15em solid;

        .navbar-toggle {
            border: none;
        }

        .icon-bar {
            background-color: $brand-color;
        }
    }
}

.menu {
    color: $base-color;
    display: flex;
    font-size: 1.06em;
    justify-content: space-between;

    &--item {
        border-bottom: $secondary-color 0.05em;
    }

    &--option {
        padding: 1em 0.8em;
        display: flex;
        align-items: center;
        cursor: pointer;
    }
}
@media (min-width: 768px) {
    .navbar-default .navbar-collapse {
        .navbar-nav {
            display: flex;
            justify-content: space-between;
        }
    }
}
