*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;;
}

section {
  padding: 0 30px;
}
.new{
  height: 500px;
  padding: 0;
  position: relative;
    &__small{
      height: 250px;
    }
    &__smallXS{
      height: 125px;
    }
    &__imgNew{
      width: 100%;
      height: 100%;
      padding: 10px;
    &__sx{

    }

      &--small {
        background: green;
      }
    }
}
