//Base colors
$brand-color: #F7B617;
$base-color: #2B2B2B;
$accent-color: #fff;
$secondary-color: #d6d4d4;
$small-height: 15vh;
$separator-row:1.5vh;
@import "header";
@import "carousel";
@import "footer";

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

.pd {
    padding-bottom: $separator-row;
}

.pdx2 {
    padding-bottom: 2.5em;
}

.pdx3 {
    padding-bottom: 3.5em;
}

.padBoth {
    padding: 0 3vw;
}

.newsInf {
    bottom: 2.5em;
    left: 5em;
    color: #fff;
    position: absolute;

    &--text {
        margin-right: 15em;
        font-size: 1.3em;
    }
}

.news {
  width: 100%;

    &--detail {
        width: 100%;
        height: $small-height;
        color: $accent-color;
        background: $base-color;
        padding: 0;

        &__sm {
            position: relative;
            width: 60%;
            left: 40%;
        }
    }

    &--img {
        &__sm {
            height: $small-height;
            position: absolute;
            width: 40%;
        }

        &__md {
            height: ($small-height*2)+$separator-row;
        }

        &__lg {
            height: ($small-height*4)+($separator-row*3);
        }
    }
}
